.footer{
  height: 40px;
  font-size: 20px;
  text-align: right;
  font-family: 'Source Code Pro', monospace;
  color: var(--text-blue);
  background-color: var(--bg-pink);
  padding-right: 10px;
}

.footer-kickback{
  font-weight: bolder;
}

@media only screen and (max-width: 768px) {
  .footer{
    position: relative;
    display: inline-block;
    background-color: var(--bg-blue);
    color: var(--text-pink);
    font-size: 15px;
  }

}