.sam-image-container{
  position: relative;
  bottom: 0;
}

.sam-bio{
  position: absolute;
  font-family: 'Source Code Pro', monospace;
  font-size: 60px;
  background-color: rgba(0, 72, 87, 0.9);
  width: 55vw;
  right: 0px;
  top: 0px;
  z-index: 1000;
  color: white;
  height: 160vh;
  overflow-y: hidden;
  text-align: right;
  padding-right: 5px;
}

@media only screen and (max-width: 768px) {
  
  .sam-image-container{
    display: none;
  }
}