@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
:root {
  --bg-blue: #004857;
  --bg-pink: #810085;
  --text-pink: #F974FF;
  --text-blue: #C2F5FF;
}
html{
  background-color: var(--bg-blue);
  overflow-x: hidden;
}
::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}